service-stubs/org.wso2.carbon.rule.service.stub/src/main/resources/RuleServiceAdmin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:axis2="http://admin.service.rule.carbon.wso2.org"
                  xmlns:ax2220="http://core.rule.carbon.wso2.org/xsd"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax2219="http://service.rule.carbon.wso2.org/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://admin.service.rule.carbon.wso2.org">
    <wsdl:documentation>RuleServiceAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2222="http://service.rule.carbon.wso2.org/xsd"
                   xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://service.rule.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:any/>

                </xs:sequence>
            </xs:complexType>
            <xs:element name="RuleServiceManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RuleServiceManagementException"
                                    nillable="true" type="ax2219:RuleServiceManagementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="uploadRuleFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dataHandler" nillable="true"
                                    type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="uploadFacts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dataHandler" nillable="true"
                                    type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="uploadFactsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRuleService">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRuleServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRuleServicesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getAllFacts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileExtension" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getAllFactsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editRuleService">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileExtension" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:any/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRuleService">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileExtension" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:any/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://core.rule.carbon.wso2.org/xsd">

            <xs:complexType name="LoggedRuntimeException">
                <xs:complexContent>
                    <xs:extension base="xs:RuntimeException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2221="http://core.rule.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://service.rule.carbon.wso2.org/xsd">

            <xs:import namespace="http://core.rule.carbon.wso2.org/xsd"/>
            <xs:complexType name="RuleServiceManagementException">
                <xs:complexContent>
                    <xs:extension base="ax2221:LoggedRuntimeException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="uploadFactsRequest">
        <wsdl:part name="parameters" element="ns1:uploadFacts"/>
    </wsdl:message>
    <wsdl:message name="uploadFactsResponse">
        <wsdl:part name="parameters" element="ns1:uploadFactsResponse"/>
    </wsdl:message>
    <wsdl:message name="RuleServiceManagementException">
        <wsdl:part name="parameters" element="ns1:RuleServiceManagementException"/>

    </wsdl:message>
    <wsdl:message name="getAllFactsRequest">
        <wsdl:part name="parameters" element="ns1:getAllFacts"/>
    </wsdl:message>
    <wsdl:message name="getAllFactsResponse">
        <wsdl:part name="parameters" element="ns1:getAllFactsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllRuleServicesRequest"/>
    <wsdl:message name="getAllRuleServicesResponse">

        <wsdl:part name="parameters" element="ns1:getAllRuleServicesResponse"/>
    </wsdl:message>
    <wsdl:message name="addRuleServiceRequest">
        <wsdl:part name="parameters" element="ns1:addRuleService"/>
    </wsdl:message>
    <wsdl:message name="getRuleServiceRequest">
        <wsdl:part name="parameters" element="ns1:getRuleService"/>
    </wsdl:message>
    <wsdl:message name="getRuleServiceResponse">

        <wsdl:part name="parameters" element="ns1:getRuleServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="editRuleServiceRequest">
        <wsdl:part name="parameters" element="ns1:editRuleService"/>
    </wsdl:message>
    <wsdl:message name="uploadRuleFileRequest">
        <wsdl:part name="parameters" element="ns1:uploadRuleFile"/>
    </wsdl:message>
    <wsdl:portType name="RuleServiceAdminPortType">

        <wsdl:operation name="uploadFacts">
            <wsdl:input message="axis2:uploadFactsRequest" wsaw:Action="urn:uploadFacts"/>
            <wsdl:output message="axis2:uploadFactsResponse" wsaw:Action="urn:uploadFactsResponse"/>
            <wsdl:fault message="axis2:RuleServiceManagementException"
                        name="RuleServiceManagementException"
                        wsaw:Action="urn:uploadFactsRuleServiceManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllFacts">
            <wsdl:input message="axis2:getAllFactsRequest" wsaw:Action="urn:getAllFacts"/>
            <wsdl:output message="axis2:getAllFactsResponse" wsaw:Action="urn:getAllFactsResponse"/>
            <wsdl:fault message="axis2:RuleServiceManagementException"
                        name="RuleServiceManagementException"
                        wsaw:Action="urn:getAllFactsRuleServiceManagementException"/>

        </wsdl:operation>
        <wsdl:operation name="getAllRuleServices">
            <wsdl:input message="axis2:getAllRuleServicesRequest"
                        wsaw:Action="urn:getAllRuleServices"/>
            <wsdl:output message="axis2:getAllRuleServicesResponse"
                         wsaw:Action="urn:getAllRuleServicesResponse"/>
            <wsdl:fault message="axis2:RuleServiceManagementException"
                        name="RuleServiceManagementException"
                        wsaw:Action="urn:getAllRuleServicesRuleServiceManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="addRuleService">
            <wsdl:input message="axis2:addRuleServiceRequest" wsaw:Action="urn:addRuleService"/>
            <wsdl:fault message="axis2:RuleServiceManagementException"
                        name="RuleServiceManagementException"
                        wsaw:Action="urn:addRuleServiceRuleServiceManagementException"/>

        </wsdl:operation>
        <wsdl:operation name="getRuleService">
            <wsdl:input message="axis2:getRuleServiceRequest" wsaw:Action="urn:getRuleService"/>
            <wsdl:output message="axis2:getRuleServiceResponse"
                         wsaw:Action="urn:getRuleServiceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editRuleService">
            <wsdl:input message="axis2:editRuleServiceRequest" wsaw:Action="urn:editRuleService"/>
            <wsdl:fault message="axis2:RuleServiceManagementException"
                        name="RuleServiceManagementException"
                        wsaw:Action="urn:editRuleServiceRuleServiceManagementException"/>
        </wsdl:operation>

        <wsdl:operation name="uploadRuleFile">
            <wsdl:input message="axis2:uploadRuleFileRequest" wsaw:Action="urn:uploadRuleFile"/>
            <wsdl:fault message="axis2:RuleServiceManagementException"
                        name="RuleServiceManagementException"
                        wsaw:Action="urn:uploadRuleFileRuleServiceManagementException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RuleServiceAdminSoap11Binding" type="axis2:RuleServiceAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadFacts">
            <soap:operation soapAction="urn:uploadFacts" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceManagementException">
                <soap:fault use="literal" name="RuleServiceManagementException"/>
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getAllFacts">
            <soap:operation soapAction="urn:getAllFacts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>

            <wsdl:fault name="RuleServiceManagementException">
                <soap:fault use="literal" name="RuleServiceManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRuleServices">
            <soap:operation soapAction="urn:getAllRuleServices" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceManagementException">
                <soap:fault use="literal" name="RuleServiceManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRuleService">
            <soap:operation soapAction="urn:addRuleService" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceManagementException">
                <soap:fault use="literal" name="RuleServiceManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRuleService">
            <soap:operation soapAction="urn:getRuleService" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editRuleService">
            <soap:operation soapAction="urn:editRuleService" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceManagementException">
                <soap:fault use="literal" name="RuleServiceManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="uploadRuleFile">
            <soap:operation soapAction="urn:uploadRuleFile" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceManagementException">
                <soap:fault use="literal" name="RuleServiceManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RuleServiceAdminSoap12Binding" type="axis2:RuleServiceAdminPortType">

        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadFacts">
            <soap12:operation soapAction="urn:uploadFacts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>

            <wsdl:fault name="RuleServiceManagementException">
                <soap12:fault use="literal" name="RuleServiceManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllFacts">
            <soap12:operation soapAction="urn:getAllFacts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceManagementException">
                <soap12:fault use="literal" name="RuleServiceManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRuleServices">
            <soap12:operation soapAction="urn:getAllRuleServices" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceManagementException">
                <soap12:fault use="literal" name="RuleServiceManagementException"/>
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="addRuleService">
            <soap12:operation soapAction="urn:addRuleService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceManagementException">
                <soap12:fault use="literal" name="RuleServiceManagementException"/>
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getRuleService">
            <soap12:operation soapAction="urn:getRuleService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="editRuleService">
            <soap12:operation soapAction="urn:editRuleService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceManagementException">
                <soap12:fault use="literal" name="RuleServiceManagementException"/>
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="uploadRuleFile">
            <soap12:operation soapAction="urn:uploadRuleFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceManagementException">
                <soap12:fault use="literal" name="RuleServiceManagementException"/>
            </wsdl:fault>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RuleServiceAdminHttpBinding" type="axis2:RuleServiceAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="uploadFacts">
            <http:operation location="uploadFacts"/>
            <wsdl:input>
                <mime:content type="text/xml" part="uploadFacts"/>
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="uploadFacts"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllFacts">
            <http:operation location="getAllFacts"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAllFacts"/>
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="getAllFacts"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllRuleServices">
            <http:operation location="getAllRuleServices"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAllRuleServices"/>
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="getAllRuleServices"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRuleService">
            <http:operation location="addRuleService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addRuleService"/>
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="getRuleService">
            <http:operation location="getRuleService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getRuleService"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getRuleService"/>
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="editRuleService">
            <http:operation location="editRuleService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="editRuleService"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="uploadRuleFile">
            <http:operation location="uploadRuleFile"/>

            <wsdl:input>
                <mime:content type="text/xml" part="uploadRuleFile"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RuleServiceAdmin">
        <wsdl:port name="RuleServiceAdminHttpsSoap11Endpoint"
                   binding="axis2:RuleServiceAdminSoap11Binding">
            <soap:address
                    location="https://10.202.102.154:9443/services/RuleServiceAdmin.RuleServiceAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>

        <wsdl:port name="RuleServiceAdminHttpsSoap12Endpoint"
                   binding="axis2:RuleServiceAdminSoap12Binding">
            <soap12:address
                    location="https://10.202.102.154:9443/services/RuleServiceAdmin.RuleServiceAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RuleServiceAdminHttpsEndpoint" binding="axis2:RuleServiceAdminHttpBinding">
            <http:address
                    location="https://10.202.102.154:9443/services/RuleServiceAdmin.RuleServiceAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
