service-stubs/rule/org.wso2.carbon.rule.ws.stub/src/main/resources/RuleServiceAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http//wso2.org/carbon/rule/ws/admin/types" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http//wso2.org/carbon/rule/ws/admin" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2236="http//wso2.org/carbon/rule/ws/admin/exception" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http//wso2.org/carbon/rule/ws/admin">
    <wsdl:documentation>RuleServiceAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http//wso2.org/carbon/rule/ws/admin/exception">
            <xs:complexType name="RuleServiceAdminException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2237="http//wso2.org/carbon/rule/ws/admin/exception" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http//wso2.org/carbon/rule/ws/admin/types">
            <xs:import namespace="http//wso2.org/carbon/rule/ws/admin/exception"/>
            <xs:element name="RuleServiceAdminRuleServiceAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RuleServiceAdminException" nillable="true" type="ax2237:RuleServiceAdminException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadRuleFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadFacts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadFactsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRuleService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRuleServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:omElementType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRuleFileList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRuleFileListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFactArchiveList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFactArchiveListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRuleServices">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRuleServicesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllFacts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileExtension" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllFactsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editRuleService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileExtension" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:any/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteRuleFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteFactArchive">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRuleService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileExtension" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:any/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
     	    <xs:complexType name="omElementType">
                <xs:sequence>
                    <xs:any/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadFactsRequest">
        <wsdl:part name="parameters" element="ns:uploadFacts"/>
    </wsdl:message>
    <wsdl:message name="uploadFactsResponse">
        <wsdl:part name="parameters" element="ns:uploadFactsResponse"/>
    </wsdl:message>
    <wsdl:message name="RuleServiceAdminRuleServiceAdminException">
        <wsdl:part name="parameters" element="ns:RuleServiceAdminRuleServiceAdminException"/>
    </wsdl:message>
    <wsdl:message name="getAllFactsRequest">
        <wsdl:part name="parameters" element="ns:getAllFacts"/>
    </wsdl:message>
    <wsdl:message name="getAllFactsResponse">
        <wsdl:part name="parameters" element="ns:getAllFactsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllRuleServicesRequest">
        <wsdl:part name="parameters" element="ns:getAllRuleServices"/>
    </wsdl:message>
    <wsdl:message name="getAllRuleServicesResponse">
        <wsdl:part name="parameters" element="ns:getAllRuleServicesResponse"/>
    </wsdl:message>
    <wsdl:message name="addRuleServiceRequest">
        <wsdl:part name="parameters" element="ns:addRuleService"/>
    </wsdl:message>
    <wsdl:message name="deleteFactArchiveRequest">
        <wsdl:part name="parameters" element="ns:deleteFactArchive"/>
    </wsdl:message>
    <wsdl:message name="getFactArchiveListRequest">
        <wsdl:part name="parameters" element="ns:getFactArchiveList"/>
    </wsdl:message>
    <wsdl:message name="getFactArchiveListResponse">
        <wsdl:part name="parameters" element="ns:getFactArchiveListResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteRuleFileRequest">
        <wsdl:part name="parameters" element="ns:deleteRuleFile"/>
    </wsdl:message>
    <wsdl:message name="getRuleFileListRequest">
        <wsdl:part name="parameters" element="ns:getRuleFileList"/>
    </wsdl:message>
    <wsdl:message name="getRuleFileListResponse">
        <wsdl:part name="parameters" element="ns:getRuleFileListResponse"/>
    </wsdl:message>
    <wsdl:message name="getRuleServiceRequest">
        <wsdl:part name="parameters" element="ns:getRuleService"/>
    </wsdl:message>
    <wsdl:message name="getRuleServiceResponse">
        <wsdl:part name="parameters" element="ns:getRuleServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="editRuleServiceRequest">
        <wsdl:part name="parameters" element="ns:editRuleService"/>
    </wsdl:message>
    <wsdl:message name="uploadRuleFileRequest">
        <wsdl:part name="parameters" element="ns:uploadRuleFile"/>
    </wsdl:message>
    <wsdl:portType name="RuleServiceAdminPortType">
        <wsdl:operation name="uploadFacts">
            <wsdl:input message="tns:uploadFactsRequest" wsaw:Action="urn:uploadFacts"/>
            <wsdl:output message="tns:uploadFactsResponse" wsaw:Action="urn:uploadFactsResponse"/>
            <wsdl:fault message="tns:RuleServiceAdminRuleServiceAdminException" name="RuleServiceAdminRuleServiceAdminException" wsaw:Action="urn:uploadFactsRuleServiceAdminRuleServiceAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllFacts">
            <wsdl:input message="tns:getAllFactsRequest" wsaw:Action="urn:getAllFacts"/>
            <wsdl:output message="tns:getAllFactsResponse" wsaw:Action="urn:getAllFactsResponse"/>
            <wsdl:fault message="tns:RuleServiceAdminRuleServiceAdminException" name="RuleServiceAdminRuleServiceAdminException" wsaw:Action="urn:getAllFactsRuleServiceAdminRuleServiceAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllRuleServices">
            <wsdl:input message="tns:getAllRuleServicesRequest" wsaw:Action="urn:getAllRuleServices"/>
            <wsdl:output message="tns:getAllRuleServicesResponse" wsaw:Action="urn:getAllRuleServicesResponse"/>
            <wsdl:fault message="tns:RuleServiceAdminRuleServiceAdminException" name="RuleServiceAdminRuleServiceAdminException" wsaw:Action="urn:getAllRuleServicesRuleServiceAdminRuleServiceAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="addRuleService">
            <wsdl:input message="tns:addRuleServiceRequest" wsaw:Action="urn:addRuleService"/>
            <wsdl:fault message="tns:RuleServiceAdminRuleServiceAdminException" name="RuleServiceAdminRuleServiceAdminException" wsaw:Action="urn:addRuleServiceRuleServiceAdminRuleServiceAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteFactArchive">
            <wsdl:input message="tns:deleteFactArchiveRequest" wsaw:Action="urn:deleteFactArchive"/>
            <wsdl:fault message="tns:RuleServiceAdminRuleServiceAdminException" name="RuleServiceAdminRuleServiceAdminException" wsaw:Action="urn:deleteFactArchiveRuleServiceAdminRuleServiceAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getFactArchiveList">
            <wsdl:input message="tns:getFactArchiveListRequest" wsaw:Action="urn:getFactArchiveList"/>
            <wsdl:output message="tns:getFactArchiveListResponse" wsaw:Action="urn:getFactArchiveListResponse"/>
            <wsdl:fault message="tns:RuleServiceAdminRuleServiceAdminException" name="RuleServiceAdminRuleServiceAdminException" wsaw:Action="urn:getFactArchiveListRuleServiceAdminRuleServiceAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteRuleFile">
            <wsdl:input message="tns:deleteRuleFileRequest" wsaw:Action="urn:deleteRuleFile"/>
            <wsdl:fault message="tns:RuleServiceAdminRuleServiceAdminException" name="RuleServiceAdminRuleServiceAdminException" wsaw:Action="urn:deleteRuleFileRuleServiceAdminRuleServiceAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getRuleFileList">
            <wsdl:input message="tns:getRuleFileListRequest" wsaw:Action="urn:getRuleFileList"/>
            <wsdl:output message="tns:getRuleFileListResponse" wsaw:Action="urn:getRuleFileListResponse"/>
            <wsdl:fault message="tns:RuleServiceAdminRuleServiceAdminException" name="RuleServiceAdminRuleServiceAdminException" wsaw:Action="urn:getRuleFileListRuleServiceAdminRuleServiceAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getRuleService">
            <wsdl:input message="tns:getRuleServiceRequest" wsaw:Action="urn:getRuleService"/>
            <wsdl:output message="tns:getRuleServiceResponse" wsaw:Action="urn:getRuleServiceResponse"/>
            <wsdl:fault message="tns:RuleServiceAdminRuleServiceAdminException" name="RuleServiceAdminRuleServiceAdminException" wsaw:Action="urn:getRuleServiceRuleServiceAdminRuleServiceAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="editRuleService">
            <wsdl:input message="tns:editRuleServiceRequest" wsaw:Action="urn:editRuleService"/>
            <wsdl:fault message="tns:RuleServiceAdminRuleServiceAdminException" name="RuleServiceAdminRuleServiceAdminException" wsaw:Action="urn:editRuleServiceRuleServiceAdminRuleServiceAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="uploadRuleFile">
            <wsdl:input message="tns:uploadRuleFileRequest" wsaw:Action="urn:uploadRuleFile"/>
            <wsdl:fault message="tns:RuleServiceAdminRuleServiceAdminException" name="RuleServiceAdminRuleServiceAdminException" wsaw:Action="urn:uploadRuleFileRuleServiceAdminRuleServiceAdminException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RuleServiceAdminSoap11Binding" type="tns:RuleServiceAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadFacts">
            <soap:operation soapAction="urn:uploadFacts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllFacts">
            <soap:operation soapAction="urn:getAllFacts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRuleServices">
            <soap:operation soapAction="urn:getAllRuleServices" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRuleService">
            <soap:operation soapAction="urn:addRuleService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteFactArchive">
            <soap:operation soapAction="urn:deleteFactArchive" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRuleFile">
            <soap:operation soapAction="urn:deleteRuleFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFactArchiveList">
            <soap:operation soapAction="urn:getFactArchiveList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRuleService">
            <soap:operation soapAction="urn:getRuleService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRuleFileList">
            <soap:operation soapAction="urn:getRuleFileList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editRuleService">
            <soap:operation soapAction="urn:editRuleService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="uploadRuleFile">
            <soap:operation soapAction="urn:uploadRuleFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RuleServiceAdminSoap12Binding" type="tns:RuleServiceAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadFacts">
            <soap12:operation soapAction="urn:uploadFacts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap12:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllFacts">
            <soap12:operation soapAction="urn:getAllFacts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap12:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRuleServices">
            <soap12:operation soapAction="urn:getAllRuleServices" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap12:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRuleService">
            <soap12:operation soapAction="urn:addRuleService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap12:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteFactArchive">
            <soap12:operation soapAction="urn:deleteFactArchive" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap12:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRuleFile">
            <soap12:operation soapAction="urn:deleteRuleFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap12:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFactArchiveList">
            <soap12:operation soapAction="urn:getFactArchiveList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap12:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRuleService">
            <soap12:operation soapAction="urn:getRuleService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap12:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRuleFileList">
            <soap12:operation soapAction="urn:getRuleFileList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap12:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editRuleService">
            <soap12:operation soapAction="urn:editRuleService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap12:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="uploadRuleFile">
            <soap12:operation soapAction="urn:uploadRuleFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RuleServiceAdminRuleServiceAdminException">
                <soap12:fault use="literal" name="RuleServiceAdminRuleServiceAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RuleServiceAdminHttpBinding" type="tns:RuleServiceAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="uploadFacts">
            <http:operation location="uploadFacts"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllFacts">
            <http:operation location="getAllFacts"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllRuleServices">
            <http:operation location="getAllRuleServices"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRuleService">
            <http:operation location="addRuleService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteFactArchive">
            <http:operation location="deleteFactArchive"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteRuleFile">
            <http:operation location="deleteRuleFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getFactArchiveList">
            <http:operation location="getFactArchiveList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRuleService">
            <http:operation location="getRuleService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRuleFileList">
            <http:operation location="getRuleFileList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editRuleService">
            <http:operation location="editRuleService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="uploadRuleFile">
            <http:operation location="uploadRuleFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RuleServiceAdmin">
        <wsdl:port name="RuleServiceAdminHttpsSoap11Endpoint" binding="tns:RuleServiceAdminSoap11Binding">
            <soap:address location="https://10.100.3.76:9443/services/RuleServiceAdmin.RuleServiceAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RuleServiceAdminHttpsSoap12Endpoint" binding="tns:RuleServiceAdminSoap12Binding">
            <soap12:address location="https://10.100.3.76:9443/services/RuleServiceAdmin.RuleServiceAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RuleServiceAdminHttpsEndpoint" binding="tns:RuleServiceAdminHttpBinding">
            <http:address location="https://10.100.3.76:9443/services/RuleServiceAdmin.RuleServiceAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>