service-stubs/rule/org.wso2.carbon.rule.ws.stub/src/main/resources/RuleServiceFileUploadAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http//wso2.org/carbon/rule/ws/admin/types" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http//wso2.org/carbon/rule/ws/admin" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http//wso2.org/carbon/rule/ws/admin">
    <wsdl:documentation>RuleServiceFileUploadAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http//wso2.org/carbon/rule/ws/admin/types">
            <xs:element name="RuleServiceFileUploadAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RuleServiceFileUploadAdminException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="uploadService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadServiceRequest">
        <wsdl:part name="parameters" element="ns:uploadService"/>
    </wsdl:message>
    <wsdl:message name="uploadServiceResponse">
        <wsdl:part name="parameters" element="ns:uploadServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="RuleServiceFileUploadAdminException">
        <wsdl:part name="parameters" element="ns:RuleServiceFileUploadAdminException"/>
    </wsdl:message>
    <wsdl:portType name="RuleServiceFileUploadAdminPortType">
        <wsdl:operation name="uploadService">
            <wsdl:input message="tns:uploadServiceRequest" wsaw:Action="urn:uploadService"/>
            <wsdl:output message="tns:uploadServiceResponse" wsaw:Action="urn:uploadServiceResponse"/>
            <wsdl:fault message="tns:RuleServiceFileUploadAdminException" name="RuleServiceFileUploadAdminException" wsaw:Action="urn:uploadServiceRuleServiceFileUploadAdminException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RuleServiceFileUploadAdminSoap11Binding" type="tns:RuleServiceFileUploadAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadService">
            <soap:operation soapAction="urn:uploadService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceFileUploadAdminException">
                <soap:fault use="literal" name="RuleServiceFileUploadAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RuleServiceFileUploadAdminSoap12Binding" type="tns:RuleServiceFileUploadAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadService">
            <soap12:operation soapAction="urn:uploadService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RuleServiceFileUploadAdminException">
                <soap12:fault use="literal" name="RuleServiceFileUploadAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RuleServiceFileUploadAdminHttpBinding" type="tns:RuleServiceFileUploadAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="uploadService">
            <http:operation location="uploadService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RuleServiceFileUploadAdmin">
        <wsdl:port name="RuleServiceFileUploadAdminHttpsSoap11Endpoint" binding="tns:RuleServiceFileUploadAdminSoap11Binding">
            <soap:address location="https://10.100.3.76:9443/services/RuleServiceFileUploadAdmin.RuleServiceFileUploadAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RuleServiceFileUploadAdminHttpsSoap12Endpoint" binding="tns:RuleServiceFileUploadAdminSoap12Binding">
            <soap12:address location="https://10.100.3.76:9443/services/RuleServiceFileUploadAdmin.RuleServiceFileUploadAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RuleServiceFileUploadAdminHttpsEndpoint" binding="tns:RuleServiceFileUploadAdminHttpBinding">
            <http:address location="https://10.100.3.76:9443/services/RuleServiceFileUploadAdmin.RuleServiceFileUploadAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>