service-stubs/rule/org.wso2.carbon.rule.service.stub/src/main/resources/RuleServiceFileUploadAdmin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://admin.service.rule.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://admin.service.rule.carbon.wso2.org">
    <wsdl:documentation>RuleServiceFileUploadAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://admin.service.rule.carbon.wso2.org">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:any/>
                </xs:sequence>

            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true"
                                    type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadService">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dataHandler" nillable="true"
                                    type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadServiceResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadServiceRequest">
        <wsdl:part name="parameters" element="ns:uploadService"/>

    </wsdl:message>
    <wsdl:message name="uploadServiceResponse">
        <wsdl:part name="parameters" element="ns:uploadServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception"/>
    </wsdl:message>
    <wsdl:portType name="RuleServiceFileUploadAdminPortType">
        <wsdl:operation name="uploadService">

            <wsdl:input message="ns:uploadServiceRequest" wsaw:Action="urn:uploadService"/>
            <wsdl:output message="ns:uploadServiceResponse"
                         wsaw:Action="urn:uploadServiceResponse"/>
            <wsdl:fault message="ns:Exception" name="Exception"
                        wsaw:Action="urn:uploadServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RuleServiceFileUploadAdminSoap11Binding"
                  type="ns:RuleServiceFileUploadAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadService">
            <soap:operation soapAction="urn:uploadService" style="document"/>

            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RuleServiceFileUploadAdminSoap12Binding"
                  type="ns:RuleServiceFileUploadAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadService">
            <soap12:operation soapAction="urn:uploadService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RuleServiceFileUploadAdminHttpBinding"
                  type="ns:RuleServiceFileUploadAdminPortType">

        <http:binding verb="POST"/>
        <wsdl:operation name="uploadService">
            <http:operation location="uploadService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="uploadService"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="uploadService"/>
            </wsdl:output>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RuleServiceFileUploadAdmin">
        <wsdl:port name="RuleServiceFileUploadAdminHttpsSoap11Endpoint"
                   binding="ns:RuleServiceFileUploadAdminSoap11Binding">
            <soap:address
                    location="https://localhost:8243/services/RuleServiceFileUploadAdmin.RuleServiceFileUploadAdminHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="RuleServiceFileUploadAdminHttpsSoap12Endpoint"
                   binding="ns:RuleServiceFileUploadAdminSoap12Binding">
            <soap12:address
                    location="https://localhost:8243/services/RuleServiceFileUploadAdmin.RuleServiceFileUploadAdminHttpsSoap12Endpoint"/>
        </wsdl:port>

        <wsdl:port name="RuleServiceFileUploadAdminHttpsEndpoint"
                   binding="ns:RuleServiceFileUploadAdminHttpBinding">
            <http:address
                    location="https://localhost:8243/services/RuleServiceFileUploadAdmin.RuleServiceFileUploadAdminHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
